global:
  LogLevel: info

db:
  Path: ./data/db

eth2:
  BeaconNodeAddr: {{.BeaconNodeAddr}}
  Network: "{{.Network}}"

MetricsAPIPort: 15000

eth1:
  ETH1Addr: {{.ElNodeUrl}}

bootnode:
  ExternalIP: {{.FirstNodeIp}}
  PrivateKey: "{{.SecretKey}}"

ssv:
  GenesisEpoch:
  DutyLimit: 32
  ValidatorOptions:
    SignatureCollectionTimeout: 5s