global:
  LogLevel: info

db:
  Path: ./data/db

eth2:
  BeaconNodeAddr: {{.BeaconNodeAddr}}
  Network: "{{.Network}}"

MetricsAPIPort: 15000

eth1:
  ETH1Addr: {{.ElNodeUrl}}
  RegistryContractAddr: "0x776137553470cBf7a4EB1e30bb201e4931A26a49"

ssv:
  GenesisEpoch: 0
  DutyLimit: 32
  ValidatorOptions:
    SignatureCollectionTimeout: 5s


OperatorPrivateKey: "{{.SecretKey}}"

p2p:
  Discovery: mdns